/*CSS Document*/

/*Default Element Styles*/


/*Header Structure*/

html{
    @font-face {
        font-family:PressStartK;
        src: url(prstartk.ttf);
    }
}

.wrapper{
    width: 100%;
}

.header{
    background-color: #0000;
}



